// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$black-800: #080808;

// Override Bootstrap color system

$purple: #5807b4;

// Override Bootstrap default state colors

$primary: $orange;
